<?xml version="1.0" encoding="UTF-8"?>

<beans default-lazy-init="true" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">
<aop:aspectj-autoproxy>
</aop:aspectj-autoproxy>

<bean name="circle" class="AopFirst.model.Circle">

</bean>
<bean name="triangle" class="AopFirst.model.Triangle">
<property name="name" value="This is triangle"></property>
</bean>

<bean name="shap" class="AopFirst.service.ShapeService" autowire="byName">
</bean>

<bean name="login" class="AopFirst.aspect.Loginaspect"></bean>


</beans>